apiVersion: v1
data:
  application.yml: |
    app:
      config-file-schema-path: /application_configuration_schema.json
      database-enabled: false
      filepath: /var/policy-management-service/application_configuration.json
      s3:
        accessKeyId: minio
        endpointOverride: http://localhost:9000
        secretAccessKey: miniostorage
      vardata-directory: /var/policy-management-service
      webclient:
        http.proxy-port: 0
        http.proxy-type: HTTP
        trust-store: /opt/app/policy-agent/etc/cert/truststore.jks
        trust-store-password: policy_agent
        trust-store-used: false
    lifecycle:
      timeout-per-shutdown-phase: 20s
    logging:
      file:
        name: /var/log/policy-agent/application.log
      level:
        ROOT: ERROR
        org.onap.ccsdk.oran.a1policymanagementservice: INFO
        org.springframework: ERROR
        org.springframework.data: ERROR
        org.springframework.web.reactive.function.client.ExchangeFunctions: ERROR
        org.springframework.web.servlet.DispatcherServlet: ERROR
      pattern:
        console: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{20} - %msg%n'
        file: '%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{20} - %msg%n'
    management:
      endpoint:
        shutdown:
          enabled: true
      endpoints:
        web:
          exposure:
            include: loggers,logfile,health,info,metrics,threaddump,heapdump,shutdown
      tracing:
        propagation:
          produce: ${ONAP_PROPAGATOR_PRODUCE:[W3C]}
        sampling:
          probability: 1
    otel:
      exporter:
        otlp:
          traces:
            endpoint: ${ONAP_OTEL_EXPORTER_ENDPOINT:http://jaeger:4317}
            protocol: ${ONAP_OTEL_EXPORTER_PROTOCOL:grpc}
      logs:
        exporter: none
      metrics:
        exporter: none
      sdk:
        disabled: ${ONAP_SDK_DISABLED:true}
        south: ${ONAP_TRACING_SOUTHBOUND:true}
      tracing:
        sampler:
          jaeger_remote:
            endpoint: ${ONAP_OTEL_SAMPLER_JAEGER_REMOTE_ENDPOINT:http://jaeger:14250}
    server:
      http-port: 8081
      port: 8433
      shutdown: graceful
      ssl:
        key-alias: policy_agent
        key-password: policy_agent
        key-store: /opt/app/policy-agent/etc/cert/keystore.jks
        key-store-password: policy_agent
        key-store-type: JKS
    spring:
      aop:
        auto: false
      application:
        name: a1-pms
      flyway:
        baseline-on-migrate: true
        password: mypwd
        url: jdbc:postgresql://127.0.0.1:5432/a1pms
        user: a1pms
      main:
        allow-bean-definition-overriding: true
      profiles:
        active: prod
      r2dbc:
        password: mypwd
        url: r2dbc:postgresql://127.0.0.1:5432/a1pms
        username: a1pms
    springdoc:
      show-actuator: true
kind: ConfigMap
metadata:
  annotations:
    meta.helm.sh/release-name: oran-nonrtric
    meta.helm.sh/release-namespace: ridenext-nonrt
  creationTimestamp: "2025-11-20T12:12:17Z"
  labels:
    app.kubernetes.io/instance: oran-nonrtric
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: policymanagementservice
    app.kubernetes.io/version: 2.0.0
    helm.sh/chart: policymanagementservice-2.0.0
  name: policymanagementservice-application-configmap
  namespace: ridenext-nonrt
  resourceVersion: "3154215"
  uid: 0946f76f-7cd7-4d16-ad39-b90a669d95ef
